@charset "utf-8";
/*====================================================================
                    color
====================================================================*/
$white: #FFFFFF;
$baseColor: #333333;
$gray: #888888;
/*====================================================================
                    px
====================================================================*/
$titleSize: 38px;
$sectionTitle: 32px;
$baseSize: 16px;
$resBaseSize: 14px;
/*====================================================================
                    common style
====================================================================*/

$breakpoints: (
//キー  値
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (min-width: 768px)', //767px以上用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sm) {
//map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
    }
}
*{
    font-size: $baseSize;
    color: $baseColor;
    font-family: "ヒラギノ明朝 ProN", serif;
    line-height: 1.6875;
    letter-spacing: 1.1px;
}
img{
    height: 100%;
    width: 100%;
}
.inner{
    max-width: 980px;
    padding: 0 40px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: $baseColor;
    cursor: pointer;
    &:hover{
        opacity: .7;
        text-decoration: underline;
    }
}
.sectionTitleBox{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 0;
    background-size: cover;
    margin-bottom: 60px;
}
.sectionBg{
    padding: 150px 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.sectionTitle{
    z-index: 100;
    font-size: 48px;
    color: #fff;
}
main{
    padding-top: 145px;
}
.nexPageBox{
    text-align: right;
}
.nexPage{
    display: inline-block;
    background-color:rgba(0,0,0,.1) ;
    padding: 4px 4px 4px 10px;
    position: relative;
    font-weight: 500;
    &:hover{
        text-decoration: none;
    }
    span{
        position: absolute;
        transform: translate(20%, -11%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 17.5px 0 17.5px 20px;
        border-color: transparent transparent transparent rgba(0,0,0,.1);
    }
}
/*====================================================================
                    header
====================================================================*/
.header{
    padding: 40px;
    position: fixed;
    background-color: $white;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
}
.headerInner{
    display: flex;
    max-width: 980px;
    margin: 0 auto;
}
.headerTitle{
    font-size: $titleSize;
    font-weight: bold;
}
.headerNav{
    margin-left: auto;
}
.headerNavItem{
    &+&{
        margin-left: 20px;
    }
}
.headerNavLIst{
    display: flex;
}
.headerNavLink{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:18px;
    
}
/*====================================================================
                    top
====================================================================*/
.top{
    text-align: left;
}
.bgTopInner{
    padding: 0 40px;
    max-width: 980px;
    margin: 0 auto;
}
.sectionTopTitle{
    color: $white;
    font-size: 28px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-weight: bold;
}
.sectionTopText{
    color: $white;
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}
.topGameText{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
/*====================================================================
                    game
====================================================================*/
.gameTitle{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 40px;
}
.gameText{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.gameInner{
    padding: 40px 0;
    text-align: center;
}
.count{
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}
.smileCount{
    color: tomato;
}
.noSmileCount{
    color: blue;  
}
.finishedComment{
    font-size: 24px;
    color: tomato;
}
.boxInner{
    height:60px;
    margin-top: 20px;
}
.btn{
    margin: 0 auto;
    background-color: tomato;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    &:active{
        margin-top: 6px;
        box-shadow: none;
    }
}
/*====================================================================
                    about
====================================================================*/
.about{
    background-position: center;
}
.aboutTitle{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    span{
        display: block;
        margin-top: 2px;
        height: 1px;
        width: 150px;
        background-color: #000000;
    }
}
.aboutFirst{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.aboutFirstPic{
    flex: 0 0 38%;
    img{
        width: 100%;
        border-radius: 50%;
    }
}
.aboutFirstList{
    flex: 0 0 58%;
    align-self:center;
}
.aboutFirstItem{
    display: flex;
    margin-top: 10px;
}
.aboutFirstItemTitle{
    flex:0 0 120px;
    font-weight: bold;
}
.aboutFirstItemDesc{
    font-weight: bold;
    
}
.aboutSecond{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skillItem{
    flex: 0 0 45%;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
    margin-bottom: 50px;
    border-radius: 8px;
}
.skillImg{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}
.skillTitle,
.skillText{
    padding: 0 30px;
}
.skillTitle{
    font-size: 20px;
    font-weight: bold;
}
.skillText{
    padding: 20px 30px;
    text-align: justify;
}

/*====================================================================
                    contact
====================================================================*/
.contact{
    background-position: bottom;
}
/*====================================================================
                    footer
====================================================================*/
.footerText{
    text-align: center;
    padding: 30px 0;
}
.footerText{
    font-size: 14px;
}
